<div class="form-group">
    <label>Name</label>
    <input class="form-control" [(ngModel)]="user.name"/>
</div>
<div class="form-group">
    <label>Email</label>
    <input class="form-control" [(ngModel)]="user.email"/>
</div>
<button class="btn btn-success" (click)="addUser(user)">Add User</button>

<input [(ngModel)]="search" placeholder="search"/>
<table class="table">
    <tr *ngFor="let u of users | filterUsers:search">
        <td>{{u.id}}</td>
        <td>{{u.name | uppercase}}</td>
        <td>{{u.email}}</td>
        <td>{{u.dateAdded | date:'short'}}</td>
    </tr>
</table>
<router-outlet></router-outlet>
